body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #bbb;
}

.hexagon {
	position: absolute;
	top: 20vw;
	left: 45vw;
	margin: 0 auto;

	background-color: #ff6100;
	border-radius: 2em;

	box-sizing: border-box;
	transition: all 1s;

	width: 10em;
	height: 7em;
	border: 0.2em solid transparent;
	border-top-color: #ff6100;
	border-bottom-color: #ff6100;
}
.hexagon::after, .hexagon::before {
	content: '';
	border: inherit;
	position: absolute;
	top: -0.5vh;
	left: -0.5vh;
	
	background-color: #ff6100;
	border-radius: inherit;

	height: 100%;
	width: 100%;
}
.hexagon::after {
	transform: rotate(-60deg);
}
.hexagon::before {
	transform: rotate(60deg);
}
